<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead(#{admin.users.create.title})"></head>
<body>
<h2 th:text="#{admin.users.create.title}">Create / Invite User</h2>

<form action="/admin/users" method="post">
    <label th:text="#{admin.users.username}">Username</label><br/>
    <input type="text" name="username" required/><br/><br/>

    <label th:text="#{admin.users.email}">Email</label><br/>
    <input type="email" name="email" required/><br/><br/>

    <label th:text="#{admin.users.create.tmpPassword}">Temporary Password</label><br/>
    <input type="text" name="password" required/><br/><br/>

    <label th:text="#{admin.users.create.role}">Role</label><br/>
    <select name="roleName">
        <option th:each="role : ${roles}"
                th:value="${role.name}"
                th:text="${role.name}">
        </option>
    </select><br/><br/>

    <button type="submit" th:text="#{admin.users.create.button}">Create</button>
    <a href="/admin/users" th:text="#{admin.users.create.cancel}">Cancel</a>
</form>

</body>
</html>
