--
-- PostgreSQL database dump
--

\restrict 2EcqyjoE37DILoG6yeAjTKA94mWzKG7lQFUnB6wjaoyMhKDDjALwES6mniF4AC1

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assignments (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    password_entry_id bigint NOT NULL,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp(6) without time zone
);


ALTER TABLE public.assignments OWNER TO postgres;

--
-- Name: assignments_aud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assignments_aud (
    id bigint NOT NULL,
    rev integer NOT NULL,
    revtype smallint,
    expires_at timestamp(6) without time zone,
    password_entry_id bigint,
    user_id bigint
);


ALTER TABLE public.assignments_aud OWNER TO postgres;

--
-- Name: assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assignments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignments_id_seq OWNER TO postgres;

--
-- Name: assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assignments_id_seq OWNED BY public.assignments.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_aud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories_aud (
    id bigint NOT NULL,
    rev integer NOT NULL,
    revtype smallint,
    description character varying(255),
    name character varying(255)
);


ALTER TABLE public.categories_aud OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: invitations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invitations (
    id bigint NOT NULL,
    email character varying(150) NOT NULL,
    token character varying(255) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    used_at timestamp without time zone,
    created_by_user_id bigint
);


ALTER TABLE public.invitations OWNER TO postgres;

--
-- Name: invitations_aud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invitations_aud (
    id bigint NOT NULL,
    rev integer NOT NULL,
    revtype smallint,
    created_at timestamp(6) with time zone,
    email character varying(150),
    expires_at timestamp(6) with time zone,
    token character varying(255),
    used_at timestamp(6) with time zone,
    created_by_user_id bigint
);


ALTER TABLE public.invitations_aud OWNER TO postgres;

--
-- Name: invitations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.invitations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invitations_id_seq OWNER TO postgres;

--
-- Name: invitations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.invitations_id_seq OWNED BY public.invitations.id;


--
-- Name: password_entries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_entries (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    description character varying(255),
    expiry_date timestamp without time zone,
    category_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    email character varying(255),
    mobile_number character varying(255)
);


ALTER TABLE public.password_entries OWNER TO postgres;

--
-- Name: password_entries_aud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_entries_aud (
    id bigint NOT NULL,
    rev integer NOT NULL,
    revtype smallint,
    description character varying(255),
    expiry_date timestamp(6) without time zone,
    password character varying(255),
    title character varying(255),
    username character varying(255),
    category_id bigint,
    email character varying(255),
    mobile_number character varying(255)
);


ALTER TABLE public.password_entries_aud OWNER TO postgres;

--
-- Name: password_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.password_entries_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_entries_id_seq OWNER TO postgres;

--
-- Name: password_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.password_entries_id_seq OWNED BY public.password_entries.id;


--
-- Name: revinfo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.revinfo (
    rev integer NOT NULL,
    performed_by character varying(255),
    revtstmp bigint
);


ALTER TABLE public.revinfo OWNER TO postgres;

--
-- Name: revinfo_rev_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.revinfo ALTER COLUMN rev ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.revinfo_rev_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_aud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles_aud (
    id bigint NOT NULL,
    rev integer NOT NULL,
    revtype smallint,
    name character varying(255)
);


ALTER TABLE public.roles_aud OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: team_password_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.team_password_assignments (
    id bigint NOT NULL,
    password_id bigint,
    team_id bigint
);


ALTER TABLE public.team_password_assignments OWNER TO postgres;

--
-- Name: team_password_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.team_password_assignments ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.team_password_assignments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: teams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teams (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(500)
);


ALTER TABLE public.teams OWNER TO postgres;

--
-- Name: teams_aud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teams_aud (
    id bigint NOT NULL,
    rev integer NOT NULL,
    revtype smallint,
    description character varying(500),
    name character varying(255)
);


ALTER TABLE public.teams_aud OWNER TO postgres;

--
-- Name: teams_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.teams_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teams_id_seq OWNER TO postgres;

--
-- Name: teams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.teams_id_seq OWNED BY public.teams.id;


--
-- Name: user_team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_team (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    team_id bigint NOT NULL,
    joined_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_team OWNER TO postgres;

--
-- Name: user_team_aud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_team_aud (
    id bigint NOT NULL,
    rev integer NOT NULL,
    revtype smallint,
    joined_at timestamp(6) without time zone,
    team_id bigint,
    user_id bigint
);


ALTER TABLE public.user_team_aud OWNER TO postgres;

--
-- Name: user_team_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_team_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_team_id_seq OWNER TO postgres;

--
-- Name: user_team_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_team_id_seq OWNED BY public.user_team.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(100),
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role_id bigint,
    full_name character varying(255),
    username character varying(255) NOT NULL,
    profile_image character varying(255),
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_aud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_aud (
    id bigint NOT NULL,
    rev integer NOT NULL,
    revtype smallint,
    email character varying(255),
    full_name character varying(255),
    password character varying(255),
    username character varying(255),
    role_id bigint,
    profile_image character varying(255),
    active boolean
);


ALTER TABLE public.users_aud OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: assignments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments ALTER COLUMN id SET DEFAULT nextval('public.assignments_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: invitations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations ALTER COLUMN id SET DEFAULT nextval('public.invitations_id_seq'::regclass);


--
-- Name: password_entries id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_entries ALTER COLUMN id SET DEFAULT nextval('public.password_entries_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: teams id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams ALTER COLUMN id SET DEFAULT nextval('public.teams_id_seq'::regclass);


--
-- Name: user_team id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_team ALTER COLUMN id SET DEFAULT nextval('public.user_team_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assignments_aud; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assignments_aud (id, rev, revtype, expires_at, password_entry_id, user_id) FROM stdin;
2	21	2	\N	\N	\N
3	259	0	\N	15	4
4	260	0	\N	15	3
5	262	0	\N	16	4
6	263	0	\N	16	3
1	272	2	\N	\N	\N
7	335	0	\N	21	3
8	337	0	\N	22	3
9	383	0	\N	2	3
10	384	0	\N	2	2
11	387	0	\N	11	8
12	388	0	\N	11	3
13	389	0	\N	11	2
14	390	0	\N	11	4
15	391	0	\N	11	7
16	394	0	\N	5	8
17	395	0	\N	5	3
18	396	0	\N	5	2
19	397	0	\N	5	4
20	399	0	\N	9	3
21	400	0	\N	9	2
22	401	0	\N	9	4
23	402	0	\N	9	7
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, description) FROM stdin;
1	Executive	\N
2	Finance	\N
3	Social Media	\N
4	Technical	\N
6	Email Account	\N
7	Servers	\N
15	server	
16	server1	
5	Admin Panel1112	\N
17	extra	
19	aaaaaaaaa	
21	bbbbbb	
23	a00	
\.


--
-- Data for Name: categories_aud; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories_aud (id, rev, revtype, description, name) FROM stdin;
12	6	0		llllllll
13	12	0		zzzzz
14	57	0		zzzzzzz
15	164	0		server
16	170	0		server1
5	264	1	\N	Admin Panel111
11	273	1		ffffff
11	274	1		
11	275	1		bjjb
11	276	1		nkk
11	277	1		
11	303	2	\N	\N
5	307	1	\N	Admin Panel1112
17	326	0		extra
18	349	0		hh
18	350	2	\N	\N
12	351	2	\N	\N
9	352	2	\N	\N
10	354	2	\N	\N
8	356	2	\N	\N
13	357	2	\N	\N
14	359	2	\N	\N
19	360	0		aaaaaaaaa
20	361	0		aaaaa
21	362	0		bbbbbb
22	363	0		a
22	364	2	\N	\N
20	366	2	\N	\N
23	367	0		a
23	405	1		a00
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: invitations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: invitations_aud; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invitations_aud (id, rev, revtype, created_at, email, expires_at, token, used_at, created_by_user_id) FROM stdin;
5	429	0	2026-06-10 09:17:55.241969+00	fahimehassanpour88@gmail.com	2026-06-17 09:17:55.241969+00	CzA7km8oqwRVl6dLk-23zgxq9kUYAN9_ZBKFLXRFPeQ	\N	1
\.


--
-- Data for Name: password_entries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: password_entries_aud; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: revinfo; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name) FROM stdin;
1	USER
2	ADMIN
3	MANAGER
\.


--
-- Data for Name: roles_aud; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles_aud (id, rev, revtype, name) FROM stdin;
\.


--
-- Data for Name: team_password_assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.team_password_assignments (id, password_id, team_id) FROM stdin;
10	18	4
11	19	4
12	20	3
13	21	6
14	22	6
29	5	1
30	5	2
31	5	3
32	5	4
35	9	3
36	9	4
37	2	1
38	2	2
39	2	3
40	2	4
41	2	5
42	14	1
43	14	2
44	14	3
45	14	4
46	14	5
\.


--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teams (id, name, description) FROM stdin;
1	Backend	\N
2	Frontend	\N
3	AI	\N
4	Mobile	\N
5	HR	\N
6	Manager	\N
\.


--
-- Data for Name: teams_aud; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teams_aud (id, rev, revtype, description, name) FROM stdin;
1	49	1	\N	Backend
5	52	1	\N	HR
6	52	1	\N	Manager
1	54	1	\N	Backend
4	54	1	\N	Mobile
1	64	1	\N	Backend
4	64	1	\N	Mobile
5	64	1	\N	HR
6	64	1	\N	Manager
1	197	1	\N	Backend
2	197	1	\N	Frontend
1	265	1	\N	Backend
2	265	1	\N	Frontend
4	265	1	\N	Mobile
5	265	1	\N	HR
6	265	1	\N	Manager
6	266	1	\N	Manager
5	424	1	\N	HR
6	424	1	\N	Manager
5	428	1	\N	HR
6	428	1	\N	Manager
\.


--
-- Data for Name: user_team; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_team (id, user_id, team_id, joined_at) FROM stdin;
12	3	1	2026-05-27 16:42:00.946564
13	3	2	2026-05-27 16:42:00.946564
14	1	1	2026-06-05 10:47:08.80919
15	1	2	2026-06-05 10:47:08.80919
16	1	4	2026-06-05 10:47:08.80919
17	1	5	2026-06-05 10:47:08.80919
18	1	6	2026-06-05 10:47:08.80919
19	5	6	2026-06-05 10:47:19.257564
22	8	5	2026-06-10 12:46:20.858223
23	8	6	2026-06-10 12:46:20.858223
\.


--
-- Data for Name: user_team_aud; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_aud; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assignments_id_seq', 23, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 23, true);


--
-- Name: invitations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.invitations_id_seq', 5, true);


--
-- Name: password_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.password_entries_id_seq', 23, true);


--
-- Name: revinfo_rev_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.revinfo_rev_seq', 429, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: team_password_assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.team_password_assignments_id_seq', 46, true);


--
-- Name: teams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.teams_id_seq', 6, true);


--
-- Name: user_team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_team_id_seq', 23, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- Name: assignments_aud assignments_aud_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments_aud
    ADD CONSTRAINT assignments_aud_pkey PRIMARY KEY (rev, id);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: categories_aud categories_aud_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_aud
    ADD CONSTRAINT categories_aud_pkey PRIMARY KEY (rev, id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: invitations_aud invitations_aud_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations_aud
    ADD CONSTRAINT invitations_aud_pkey PRIMARY KEY (rev, id);


--
-- Name: invitations invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_pkey PRIMARY KEY (id);


--
-- Name: invitations invitations_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_token_key UNIQUE (token);


--
-- Name: password_entries_aud password_entries_aud_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_entries_aud
    ADD CONSTRAINT password_entries_aud_pkey PRIMARY KEY (rev, id);


--
-- Name: password_entries password_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_entries
    ADD CONSTRAINT password_entries_pkey PRIMARY KEY (id);


--
-- Name: revinfo revinfo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revinfo
    ADD CONSTRAINT revinfo_pkey PRIMARY KEY (rev);


--
-- Name: roles_aud roles_aud_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles_aud
    ADD CONSTRAINT roles_aud_pkey PRIMARY KEY (rev, id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: team_password_assignments team_password_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team_password_assignments
    ADD CONSTRAINT team_password_assignments_pkey PRIMARY KEY (id);


--
-- Name: teams_aud teams_aud_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams_aud
    ADD CONSTRAINT teams_aud_pkey PRIMARY KEY (rev, id);


--
-- Name: teams teams_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_name_key UNIQUE (name);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: users uk_users_username; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk_users_username UNIQUE (username);


--
-- Name: user_team ukcvaty79fqee61h8i30buui1h5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_team
    ADD CONSTRAINT ukcvaty79fqee61h8i30buui1h5 UNIQUE (user_id, team_id);


--
-- Name: assignments unique_assignment; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT unique_assignment UNIQUE (user_id, password_entry_id);


--
-- Name: password_entries uq_password_entries_title_username; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_entries
    ADD CONSTRAINT uq_password_entries_title_username UNIQUE (title, username);


--
-- Name: user_team_aud user_team_aud_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_team_aud
    ADD CONSTRAINT user_team_aud_pkey PRIMARY KEY (rev, id);


--
-- Name: user_team user_team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_team
    ADD CONSTRAINT user_team_pkey PRIMARY KEY (id);


--
-- Name: users_aud users_aud_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_aud
    ADD CONSTRAINT users_aud_pkey PRIMARY KEY (rev, id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_invitations_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invitations_email ON public.invitations USING btree (email);


--
-- Name: assignments_aud fk5joov63k7t6amwmxkpe2qf3b7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments_aud
    ADD CONSTRAINT fk5joov63k7t6amwmxkpe2qf3b7 FOREIGN KEY (rev) REFERENCES public.revinfo(rev);


--
-- Name: categories_aud fk6ti58h8w0q47oacscu06hcite; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_aud
    ADD CONSTRAINT fk6ti58h8w0q47oacscu06hcite FOREIGN KEY (rev) REFERENCES public.revinfo(rev);


--
-- Name: assignments fk_assignment_password; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT fk_assignment_password FOREIGN KEY (password_entry_id) REFERENCES public.password_entries(id) ON DELETE CASCADE;


--
-- Name: assignments fk_assignment_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT fk_assignment_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: invitations fk_invitation_creator; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT fk_invitation_creator FOREIGN KEY (created_by_user_id) REFERENCES public.users(id);


--
-- Name: password_entries fk_password_category; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_entries
    ADD CONSTRAINT fk_password_category FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: user_team fk_user_teams_team; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_team
    ADD CONSTRAINT fk_user_teams_team FOREIGN KEY (team_id) REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: user_team fk_user_teams_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_team
    ADD CONSTRAINT fk_user_teams_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users fk_users_role; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_role FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: invitations_aud fkbxce2rlup2tcc3a00iw5u7327; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations_aud
    ADD CONSTRAINT fkbxce2rlup2tcc3a00iw5u7327 FOREIGN KEY (rev) REFERENCES public.revinfo(rev);


--
-- Name: users_aud fkc4vk4tui2la36415jpgm9leoq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_aud
    ADD CONSTRAINT fkc4vk4tui2la36415jpgm9leoq FOREIGN KEY (rev) REFERENCES public.revinfo(rev);


--
-- Name: team_password_assignments fkiq9axorlfe3j2xig1qje5w1gy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team_password_assignments
    ADD CONSTRAINT fkiq9axorlfe3j2xig1qje5w1gy FOREIGN KEY (password_id) REFERENCES public.password_entries(id);


--
-- Name: team_password_assignments fkjnqfqpl7nv1wwh0o0xm03e42e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team_password_assignments
    ADD CONSTRAINT fkjnqfqpl7nv1wwh0o0xm03e42e FOREIGN KEY (team_id) REFERENCES public.teams(id);


--
-- Name: password_entries_aud fklwsgf67kp7v3uwj7hbr26o3hq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_entries_aud
    ADD CONSTRAINT fklwsgf67kp7v3uwj7hbr26o3hq FOREIGN KEY (rev) REFERENCES public.revinfo(rev);


--
-- Name: teams_aud fkma12sm44fu0iv25qenc8ueujb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams_aud
    ADD CONSTRAINT fkma12sm44fu0iv25qenc8ueujb FOREIGN KEY (rev) REFERENCES public.revinfo(rev);


--
-- Name: user_team_aud fkoj4yj0ttd7xhnhbe9kad5e1b2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_team_aud
    ADD CONSTRAINT fkoj4yj0ttd7xhnhbe9kad5e1b2 FOREIGN KEY (rev) REFERENCES public.revinfo(rev);


--
-- Name: roles_aud fkt0mnl3rej2p0h9gxnbalf2kdd; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles_aud
    ADD CONSTRAINT fkt0mnl3rej2p0h9gxnbalf2kdd FOREIGN KEY (rev) REFERENCES public.revinfo(rev);


--
-- PostgreSQL database dump complete
--

\unrestrict 2EcqyjoE37DILoG6yeAjTKA94mWzKG7lQFUnB6wjaoyMhKDDjALwES6mniF4AC1

